<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- env -->
    <import resource="classpath:/spring/applicationContext-env.xml"/>
    <!-- common -->
    <import resource="classpath:/spring/applicationContext-common.xml"/>
    <!-- service -->
    <import resource="classpath:/spring/applicationContext-service.xml"/>
    <!-- dwr -->
    <import resource="classpath:/spring/applicationContext-dwr.xml"/>
    <!-- dao -->
    <import resource="classpath:/spring/applicationContext-dao.xml"/>

</beans>